<nav class="flex items-center text-gray-600 text-sm" aria-label="breadcrumb">
    <ol class="flex items-center space-x-1">
        <li *ngFor="let breadcrumb of breadcrumbs; let last = last" class="flex items-center">
            <ng-container *ngIf="!last">
                <a [routerLink]="breadcrumb.url" class="hover:text-blue-600 whitespace-nowrap">
                    {{ breadcrumb.label }}
                </a>
                <svg class="w-4 h-4 text-gray-400 mx-2 flex-shrink-0" fill="none" stroke="currentColor" stroke-width="2"
                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"></path>
                </svg>
            </ng-container>

            <ng-container *ngIf="last">
                <span class="text-gray-800 font-semibold whitespace-nowrap" aria-current="page">
                    {{ breadcrumb.label }}
                </span>
            </ng-container>
        </li>
    </ol>
</nav>